@page
@model ToDoUI.Pages.DeleteModel
@{
    
}
<form method="POST">
    <h2>Czy na pewno chcesz usunąć to zadanie?</h2>
    @* <input type="hidden" asp-for="Id" /> *@
    <button type="submit">Usuń</button>
</form>
